@{
    ViewData["Title"] = "Wedding Info";
}
<a href="/logout">Log Out</a><br><br>
<a href="/dashboard">Dashboard</a><br><br>

<h1>@ViewBag.Wedding.BrideName & @ViewBag.Wedding.GroomName's Wedding</h1>
<h2>Date: @ViewBag.Wedding.Date.ToString("MMM dd, yyyy")</h2><br>
<h3>Guests:</h3>

<div id="indent">
    @{
        foreach(var guest in ViewBag.Wedding.Guests)
        {
            <p>@guest.User.FirstName @guest.User.LastName</p>
        }
    }
</div>